@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');


body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set tileable background image */
  body {
    background-image: url('grassTile.png');
    background-repeat: repeat; /* This ensures the background image is tileable */
  }
  
  /* Style for Baguettes Text */
  .baguette-text {
    position: fixed;
    top: 10px;
    left: 60px;
    color: white; /* Or any color you prefer */
    z-index: 2; /* Ensures it appears above other elements */
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .baguette-img {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  #baguette-img {
    position: absolute;
    top: 10px;
    width: 40px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  .epicbaguette-img {
    position: fixed;
    top: 55px;
    left: 10px;
    width: 35px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  #epicbaguette-img {
    position: absolute;
    top: 10px;
    width: 40px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  .researchbaguette-img {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 35px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  #researchbaguette-img {
    position: absolute;
    top: 100px;
    width: 40px;
    height: auto;
    color: white; /* Or any color you prefer */
  }

  .BPS-text {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white; /* Or any color you prefer */
    z-index: 2; /* Ensures it appears above other elements */
    font-family: 'Silkscreen', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .RBoost-text {
    position: fixed;
    top: 50px;
    right: 10px;
    color: rgb(56, 186, 238); /* Or any color you prefer */
    z-index: 2; /* Ensures it appears above other elements */
    font-family: 'Silkscreen', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .epicbaguette-text {
    position: fixed;
    top: 55px;
    left: 60px;
    color: purple; /* Or any color you prefer */
    z-index: 2; /* Ensures it appears above other elements */
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .researchbaguette-text {
    position: fixed;
    top: 100px;
    left: 60px;
    color: rgb(56, 186, 238); /* Or any color you prefer */
    z-index: 2; /* Ensures it appears above other elements */
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  
  /* Style for Furnace Image/Button */
  .bakery-container {
    position: absolute;
    top: 150px;
    left: 10px; /* Center horizontally */
    width: 400px;
  }

  .tile-title {
    color: #00ff00;
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .explainer-text1 {
    position: absolute;
    top: 250px;
  }

  .explainer-text2 {
    color: white;
    position: absolute;
    top: 300px;
    padding-top: 10px;
  }

  .explainer-text3 {
    color: white;
    position: absolute;
    top: 350px;
  }

  #buy-bakery-button {
    position: absolute;
    left: 10%;
    width: 200px;
    height: auto;
    cursor: pointer;
  }

  .market-container {
    position: absolute;
    top: 150px;
    left: 600px;
    width: 400px;
  }

  #buy-market-button {
    position: absolute;
    left: 0%;
    width: 300px;
    height: auto;
    cursor: pointer;
  }

  .factory-container {
    position: absolute;
    top: 150px;
    left: 1200px;
    width: 400px;
  }

  #buy-factory-button {
    position: absolute;
    left: 0%;
    width: 300px;
    height: auto;
    cursor: pointer;
  }

  .lab-container {
    position: absolute;
    top: 600px;
    left: 10px;
    width: 400px;
  }

  #buy-lab-button {
    position: absolute;
    left: 0%;
    width: 250px;
    height: auto;
    cursor: pointer;
  }

  .lab-speed-container {
    position: absolute;
    top: 600px;
    left: 600px;
    width: 400px;
  }

  #buy-labSpeed-button {
    position: absolute;
    left: 0%;
    width: 250px;
    height: auto;
    cursor: pointer;
  }

  .alchemy-container {
    position: absolute;
    top: 150px;
    left: 1800px;
    width: 400px;
  }

  #buy-alchemy-button {
    position: absolute;
    left: 0%;
    width: 250px;
    height: auto;
    cursor: pointer;
  }

  .planet-container {
    position: absolute;
    top: 150px;
    left: 2400px;
    width: 400px;
  }

  #buy-planet-button {
    position: absolute;
    left: 0%;
    width: 250px;
    height: auto;
    cursor: pointer;
  }

  .tesseract-container {
    position: absolute;
    top: 150px;
    left: 3000px;
    width: 400px;
  }

  #buy-tesseract-button {
    position: absolute;
    left: 0%;
    width: 250px;
    height: auto;
    cursor: pointer;
  }

  .galaxy-container {
    position: absolute;
    top: 150px;
    left: 3600px;
    width: 400px;
  }

  #buy-galaxy-button {
    position: absolute;
    left: 0%;
    width: 300px;
    height: auto;
    cursor: pointer;
    transform: translate(13%, 13%);
  }
  @keyframes furnaceClick {
    0% {
        width: 200px;
    }
    50% {
        width: 225px;
    }
    100% {
        width: 200px;
    }
}

.furnaceClick {
    animation: furnaceClick 0.3s;
}

@keyframes labClick {
  0% {
      width: 250px;
  }
  50% {
      width: 275px;
  }
  100% {
      width: 250px;
  }
}

.labClick {
  animation: labClick 0.3s;
}

@keyframes marketClick {
  0% {
      width: 300px;
  }
  50% {
      width: 325px;
  }
  100% {
      width: 300px;
  }
}

.marketClick {
  animation: marketClick 0.3s;
}

@keyframes cantPurchase {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 21px;
    }
    100% {
        font-size: 20px;
    }
}

.cantPurchase {
    animation: cantPurchase 0.3s;
}

.furnace-container {
  position: fixed; /* Fixed positioning */
  top: 10px; /* 10px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the container */
}

#furnace-arrow {
  rotate: 180deg;
  width: 50px; /* Adjust dimensions as needed */
  z-index: 3;
  height: auto;
  cursor: pointer;
}

.furnace-text-container {
  position: fixed; /* Fixed positioning */
  color: #00ff00;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-family: 'Silkscreen', sans-serif;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 2;
}